.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.form div {
    width: 100%;

}

.form .big-label {
    width: 50%;
    text-align: right;
    display: inline-block;
}

