body {
    display: block;
    margin: 0px;
}

.header {
    background: linear-gradient(45deg, white, #160be3);
    padding: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    font-size: bold;
    color: blue;
    margin-right: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid blue;
    padding: 5px;

}