body {
    display: block;
    margin: 0px;
}

.header {
    background: linear-gradient(45deg, white, #160be3);
    padding: 15px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    
}